@import "tailwindcss";

@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  --animate-fade-out-scale: fade-out-scale 0.3s ease-in ;

  --animate-slide-in-right: slide-in-right 0.4s ease-in; 
  --animate-slide-out-right: slide-out-right 0.4s ease-out; 

  --font-roboto: "Roboto", sans-serif;
  --font-montserrat:"Montserrat", sans-serif;


  --color-theme: #1C2024;
  --color-mauve-3: #F2EFF3;
  --color-mauve-alpha-3: #30004010;

  --color-mauve-11:#65636D;

  --color-primary-purple:#8E4EC6;
  --color-primary-purple-hover:#9A5CD0;
  --color-primary-purple-active:#8457AA;
  --color-primary-purple-disabled:#6F6D78; 

  --color-secondary-purple:#B744F714;
  --color-secondary-purple-hover:#C150FF2E;
  --color-secondary-purple-act  ive:#B412F90A;
  --color-secondary-purple-disabled:#EBEAF814; 
}

.dark{
  --color-theme: #EEEEF0;
  --color-mauve-3: #232225;
  --color-mauve-alpha-3: #EBEAF814;
  --color-mauve-11:#B5B2BC;

  --color-primary-purple:#8E4EC6;
  --color-primary-purple-hover:#9A5CD0;
  --color-primary-purple-active:#8457AA;
  --color-primary-purple-disabled:#6F6D78; 

  --color-secondary-purple:#B744F714;
  --color-secondary-purple-hover:#C150FF2E;
  --color-secondary-purple-active:#B412F90A;
  --color-secondary-purple-disabled:#EBEAF814; 
}



@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-out-scale {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

@Keyframes slide-in-right {
  0%{
    transform: translateX(100%)
  }
  100%{
    transform: translateX(0)
  }
}

@Keyframes slide-out-right {
  0%{
    transform: translateX(0)
  }
  100%{
    transform: translateX(100%)
  }
}


select::-webkit-scrollbar {
  width: 6px;
}
select::-webkit-scrollbar-thumb {
  background-color: #4c4c4c;
  border-radius: 3px;
}